
body {
    background-color: green; 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}


.blok1 {
    background-color: yellow;
    color: red; 
    padding: 15px;
    margin-bottom: 15px;

    width: 980px;
}


.blok2 {
    display: block;
    background-color: pink;
    color: red;
    padding: 15px;
    margin-bottom: 15px;
    
    width: 1080px; 
}


.blok3 {
    background-color: white;
    color: red; 
    padding: 15px;
   
    width: 1180px; 
}


.tekst-blok1 { color: black; font-size: 1.1cm; } 
.tekst-blok2 { color: blue; font-size: 1cm; } 
.tekst-blok3 { color: black; font-size: 9mm; } 


ul {
    margin-top: 10px;
    color: black;
}


.blok1 ul { list-style-type: square; font-size: 0.7mm; } 
.blok2 ul { list-style-type: circle; font-size: 8mm; }
.blok3 ul { list-style-type: disc; font-size: 7mm; }

/* Shvydkov Z18_html */
